body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.sudoku-board {
    display: inline-block;
    margin-top: 20px;
    border: 2px solid #333; /* Thick border around the entire board */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add some shadow for depth */
}

.sudoku-row {
    display: flex;
}

.sudoku-cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #999;
}

/* Add a CSS class to style readonly cells */
.sudoku-readonly {
    font-weight: bold;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #999;
    background-color: #d2db7a; /* Optional: Add a background color to readonly cells */
}

.sudoku-box {
    border: 3px solid #999; /* Increase the border thickness */
}

/* Add thick borders for the 3x3 boxes */
.sudoku-cell:nth-child(3n) {
    border-right: 2px solid #333;
}
.sudoku-readonly:nth-child(3n) {
    border-right: 2px solid #333;
}



.sudoku-row:nth-child(3n) {
    border-bottom: 2px solid #333;
}

#check-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
}
