<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
               -webkit-appearance: none;
                margin: 0;
        }
 
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <meta charset="UTF-8">
    <title>Sudoku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Sudoku</h1>
    <div class="sudoku-board">
        {% for row in board %}
        <div class="sudoku-row">
            {% for cell in row %}
                {% if cell != 0 %}
                <input type="number" class="sudoku-readonly" value="{{ cell }}" max = 9 min = 1  readonly>
                {% else %}
                <input type="number" class="sudoku-cell" value="{{ None }}" max = 9 min = 1  >
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    
    <div class="button-container"></div>
    <button id="check-btn">Check</button>
    <button id="refresh-btn">New puzzle</button>
    </div>
    
    <script>
        document.getElementById('check-btn').addEventListener('click', () => {
            const board = [];
            document.querySelectorAll('.sudoku-cell').forEach(cell => {
                board.push(parseInt(cell.value) || 0);
            });
    
            fetch('/check', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ board: board }),
            })
            .then(response => response.json())
            .then(data => {
                const cells = document.querySelectorAll('.sudoku-cell');
                cells.forEach((cell, index) => {
                    if (board[index] !== data.solved_board[index] && board[index] !== 0) {
                    cell.style.color = 'red';
                } else {
                    cell.style.color = 'black';
                }
                });
    
                const errors = Array.from(cells).filter((cell, index) => {
                    return cell.style.color === 'red';
                });
    
                if (errors.length === 0 && board.includes(0) === false) {
                    alert('Congratulations! You solved the Sudoku puzzle.');
                } else if (errors.length > 0) {
                    alert('There are errors in the Sudoku puzzle. Please correct them.');
                } else {
                    alert('Please fill in all the cells to complete the puzzle.');
                }
            });
        });
        // Refresh button event listener
        document.getElementById('refresh-btn').addEventListener('click', () => {
            window.location.href = '/refresh'; // Redirect to the /refresh route to reload the app
        });
</script>
    </script>

</body>
</html>